<!DOCTYPE html>
<!--html extraido e modfificado de https://www.w3schools.com/bootstrap/bootstrap_forms.asp (acessado em 24/10/2017) -->
<html lang="en">
  <head>
    <title>Insira os dados para criar um novo cargo (campo Id obrigatório) </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <a href="/crud/lista_cargo" >Lista de cargos</a>
  </head>  
  <div class="container">
<!-- forms em html para django de https://docs.djangoproject.com/en/1.11/topics/forms/ (25/10/2017)-->
    <form action="" method="POST">
  <!--variaveis do form adicionadas na ordem em que estao definidas em forms.py-->
     {% csrf_token %} 
      <div class="form-group">
        <label for="idCargo" >Id:</label>
        <input type="number" class="form-control" id="id_idCargo" name="idCargo" min="000000000">
      </div>
      <div class="form-group">
    	  <label for="nome">Nome:</label>
    	  <input type="text" class="form-control" id="id_nome" name="nome"> 
      </div>
    <!--referencia para colocar ponto flutuante usando step retirado de https://stackoverflow.com/questions/19011861/is-there-a-float-input-type-in-html5 em 16/06/2018-->
      <div class="form-group">
    	  <label for="salario">Salário mensal do cargo:</label>
    	  <input type="number" class="form-control" id="id_salario" name="salario" step="0.01"> 
      </div>
    
      <div class="form-group">
    	  <label for="competencias">Descrição das competências do cargo:</label>
    	  <input type="text" class="form-control" id="id_competencias" name="competencias"> 
      </div>
      <button type="submit" class="btn btn-default">Criar cargo</button>
    </form>
  </div>
</html>