<!DOCTYPE html>

<html lang="en">
<head>
  <title>Página Principal </title>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container">
<!--href modificado de https://stackoverflow.com/questions/17200389/how-to-use-the-href-attribute-in-django-templates
link acessado em 18/06/2018-->
 <a href="/crud/lista_cargo" >Lista de cargos</a>
 <a href="/crud/lista_politico" >Lista de políticos</a>
 <a href="/crud/lista_partido" >Lista de partidos</a>
 <a href="/crud/view_sql" >View do SQL</a>
 <a href="/crud/procedure_sql" >Procedure do SQL</a>
</div>
</html>